name: Test the matrix

on:
  workflow_dispatch:
jobs:
  build:
    strategy:
      matrix:
        os:[ubuntu-latest,macos-latest,windows-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - name: checkout code
        uses: actions/checkout@v4
      - name: Echo something
        runs: echo "Hello Adnan"
    
