on:
  workflow_dispatch:
name: Postgres-Service
services:
  posgres:
    image: postgres:12
    env:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: testdb
    ports:
      - 5432:5432
